@media screen and (min-width: 970px)and (orientation: landscape){
  body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #292929;
  }
  nav ul{ 
    background: rgb(248, 248, 248);
    box-shadow:2em #cccccc;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    padding: .5em 6em .5em 5em;
    position: fixed; 
    /*Set the navbar to fixed position */
    top: 0;
    width: 50em;
  }
  nav h2{
    margin-right: 30em;
  }
  nav ul li { 
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    border-left:darkcyan solid .01em ;
  }
  nav a{
    text-decoration: none;
    color:black
  }
  .info{
    margin: 0em 0em 0em 0em;
  }
  #heading-pic{
    background-image: url("../assets/hiking-blur.png");
    height: 22.77em;
    background-position: center;
    box-shadow: inset 0 0 5em #000000;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: rgba(0,0,0, 0.4); 
    color: hotpink;
    font-size: 2em;
    line-height: 1.5em;
    padding: 1em;
    font-family: 'Chelsea Market', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
 #heading-pic p{
    background-color: rgba(0,0,0, 0.4);
    border: lavender .03em groove;
    padding:1em;
  }
  strong{
    font-family: 'Homemade Apple', cursive;
    color: #3bff38;
  }
  a.button{
    background-image: radial-gradient(#3bff38 10%, hotpink 90%);
    font-family: 'Chelsea Market', cursive;
    color:#0a0a0a;
    border-radius: .5em;
    line-height: 1.5em;
    font-size: 1em;
    text-decoration: none;
    padding:.5em;
    align-items: center;
    justify-content: center;
  }
  a.button:hover{
    background-color: #3bff38;
    line-height: 1.5em;
    font-size: 1em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  footer {
    background-color: rgb(248, 248, 248);
    height: 6em;
    font-family: 'Chelsea Market', cursive;
    line-height: 1.5em;
    font-size: 1.5em;
    color:rgb(189, 226, 158);
    display: flex;
    justify-content: center;
    align-content: center;
  }
  footer a{
    text-decoration: none;
    color: rgb(189, 226, 158);

  } 
  footer a:hover{
    color: rgba(0, 0, 0, 0.50);
    text-shadow:  .25em .20em .7em   rgb(107, 129, 89);
  
  }
  #about{
    width: 75%;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.50); 
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
  }
  #about p { 
    font-family: 'Poppins', sans-serif;
    color: rgb(226, 253, 253);
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 4.5em 1.5em 4.5em 1.5em;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    align-content: center;
  }
  #profile{
    width: 25em;
    filter: saturate(1.5) contrast(100%);
    margin: 2em 0em 1.5em 1em;
    border-radius: 15em;
  }
  #about h2{
    background-color: hotpink;
    font-family: 'Homemade Apple', cursive;
  }
}