@media screen and (min-width: 1840px){
  body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #292929;
  }
  nav ul{ 
    background: rgb(248, 248, 248);
    box-shadow:2em #cccccc;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    /* padding-left: 6em;
    padding-right:5em ; */
    padding: .5em 6em .5em 5em;
  }
  nav h2{
    margin-right: 30em;
  }
  ul li { 
    display: flex;
    flex-flow: row-reverse nowrap;
    border-left:darkcyan solid .01em ;
  }
  nav a{
    text-decoration: none;
    color:black
  }
  .info{
    margin: 0em 0em 0em 0em;
  }
  #heading-pic{
    background-image: url("../assets/hiking-blur.png");
    height: 25em;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: rgba(0,0,0, 0.4); 
    color: hotpink;
    font-size: 2em;
    line-height: 1.5em;
    padding: 1em;
    font-family: 'Chelsea Market', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    background-color: rgba(0,0,0, 0.4);
    border: lavender .03em groove;
    padding:1em;
  }
  /* strong{
    font-family: 'Homemade Apple', cursive;
    color: #3bff38;
  } */
  #about{
    width: 85em;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.50); 
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    align-content: flex-start
  }
  #about p{ 
    font-family: 'Poppins', sans-serif;
    color: rgb(226, 253, 253);
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1em 1.5em 1em 1.5em;
  }
  #profile{
    width: 25em;
    margin: 2em 0em 1.5em 1em;;
  }
  footer{
    background-color: azure;
    height: 5em;
  }
}